modal(title='Login', visible='_auth.signInModalStatus')
  .large-6.columns
    form(
      role='form'
      method='post'
      ng-submit="_auth.login()"
      data-abide
      novalidate
      )

      .form-group
        .input-group
          span.input-group-label
            b.fi-at-sign.large
          input.form-control.input-group-field(
            type='email'
            placeholder='Enter Email'
            ng-model="_auth.user.email"
            required
            )

      .form-group
        .input-group
          span.input-group-label
            b.fi-asterisk.large
          input.form-control.input-group-field(
            type='password'
            placeholder='Password'
            ng-model="_auth.user.password"
            required
            )
      button.button.drop-shadow(type='submit') Login

    label
      | New to Rent Junction 
      a(ng-click='_auth.toggleSignUpModal()') Sign Up

  .large-6.columns
    button.button.expanded.fi-social-facebook.drop-shadow(
      ng-click= '_auth.authenticate("facebook")'
    )
      |  Facebook
    button.button.expanded.alert.fi-social-google-plus.drop-shadow(
      ng-click= '_auth.authenticate("google")'
    )
      |  Google


