modal(title='SignUp', visible='modalStatus.sign-up-form', klass='sign-up-form')
  form(
    role='form', method='post', ng-submit="signup()", data-abide,
    novalidate
    )
    .large-6.columns
      .form-group
        .input-group
          span.input-group-label
            b.fi-torso.large
          input.form-control.input-group-field(
            type='text'
            placeholder='Enter Full Name'
            ng-model="user.full_name"
            required
            )
      
      .form-group
        .input-group
          span.input-group-label
            b.fi-asterisk.large
          input.form-control.input-group-field(
            type='password'
            placeholder='Password'
            ng-model="user.password"
            required
            )

      button.button.drop-shadow.large-6(type='submit') Submit
            
    .large-6.columns
      .form-group
        .input-group
          span.input-group-label
            b.fi-at-sign.large
          input.form-control.input-group-field(
            type='email'
            placeholder='Enter Email'
            ng-model="user.email"
            required
            )

      .form-group
        .input-group
          span.input-group-label
            b.fi-asterisk.large
          input.form-control.input-group-field(
            type='password'
            placeholder='Password'
            ng-model="user.password_confirmation"
            required
            )
      
