.row.top-bar
  header.row
    section
      small.large-6.large-push-6.columns.text-right
        a(href='#') 24/7 Customer Support
        a(href='#')  | Select City 
        a(
          ng-if="!_auth.isAuthenticated()"
          ng-click='_auth.toggleSignUpModal()'
          )  | Sign Up 
        a(
          ng-if="!_auth.isAuthenticated()"
          ng-click= "_auth.toggleSignInModal()"
          )  | Log In 
        a(
          href='#'
          ng-if="_auth.isAuthenticated()"
          ng-click= '_auth.logout()'
          )  | Log Out 
  br
  nav.row(data-topbar='', role='navigation')
    // Top Bar Section
    section
      // Top Bar Left Nav Elements
      ul.menu
        li.large-2.small-2.columns.text-left
          a.menu-text(href='#/home') Rent Junction
        // Search | has-form wrapper
        li.large-8.small-8.columns.text-center
          .input-group
            span.input-group-label.button.hollow.fi-magnifying-glass.text-white.large
            input.input-group-field.hollow(
              type='text'
              placeholder='So, What are you waiting for?'
            )
            a.input-group-label.button.hollow.top-bar-search(href='#', ng-model= 'q')
              strong.text-white Search
        li.large-2.small-2.columns
          a.button.warning.hollow
            strong
              i.fi-shopping-cart
              |  Cart  
              .badge.warning.large 0
